{% extends  'base.html.twig' %}
{% block title %}
    {{ parent() }} ShipShop
{% endblock %}
{% block body %}
<h1><strong>Hello World !</strong></h1>
<p> michelle {{numberOfStarships}} </p>
<div>
    <table>
        <tr>
            <th> Top</th>
            <td>{{myShip.top}}</td>
        </tr>
        <tr>
            <th> Bottom</th>
            <td>{{myShip.bottom|upper}}</td>
        </tr>
        <tr>
            <th> ThirdWheel</th>
            <td>{{myShip.thirdWheel}}</td>
        </tr>
        <tr>
            <th> Status</th>
            <td>{{myShip.status}}</td>
        </tr>
    </table>
</div>
{% endblock %} 